/** @format */

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 300 900;
  font-display: swap;
  src: url("/fonts/Inter-variable-optimized.woff2") format("woff2");
}

@font-face {
  font-family: "Fallback";
  size-adjust: 95%;
  ascent-override: 90%;
  descent-override: 20%;
  advance-override: 1.1;
  src: local("Arial");
}

@font-face {
  font-family: "Apercu";
  src: url("/fonts/apercu-light-pro.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Apercu";
  src: url("/fonts/apercu-regular-pro.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Apercu";
  src: url("/fonts/apercu-medium-pro.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Apercu";
  src: url("/fonts/apercu-bold-pro.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  -webkit-font-smoothing: antialiased;
  font-family: "Inter", "Fallback", "Apercu", BlinkMacSystemFont, Segoe UI,
    Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    sans-serif;
  background: #0d0e13;
  color: #d9d9d9;
  height: 100%;

  --offset: 14px;
}
body {
  min-height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Inter", "Fallback", sans-serif;
  overflow-wrap: break-word;
}

#__next {
  min-height: 100%;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: #1b1f2c;
}
::-webkit-scrollbar-thumb {
  border-radius: 100px;
  background-color: #1b1f2c;
  border: 2px solid #1b1f2c;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #484b53;
}
